ShowInNavbar: => GetInt("Index") == 0
Order: 100
Title: Tags
ArchiveSources: => GetString("PostSources")
ArchiveFilter: => GetBool("IsPost")
ArchiveKey: Tags
ArchiveKeyComparer: => StringComparer.OrdinalIgnoreCase.ToConvertingEqualityComparer()
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"tags/{NormalizedPath.OptimizeFileName(GetString("GroupKey"))}/index.html" : $"tags/{NormalizedPath.OptimizeFileName(GetString("GroupKey"))}/{GetInt("Index")}.html"
ArchivePageSize: 10
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: => GetString("GroupKey")
---
@if (Document.ContainsKey(Keys.GroupKey))
{
  <div class="two-col">
    <div>
      @Html.Partial("/_posts.cshtml", Document)
    </div>
    <div class="sidebar">
      @foreach (IDocument tag in OutputPages.Get("tags/index.html").GetChildren().OrderByDescending(x => x.GetChildren().Count()))
      {
        string activeClass = Document.GetString(Keys.GroupKey).Equals(tag.GetTitle(), StringComparison.OrdinalIgnoreCase) ? " badge-active" : "";
        string postCount = tag.GetChildren().Count().ToString();
        <a href="@Context.GetLink(tag)" class="badge@activeClass"> @tag.GetTitle() (@postCount)</a>
      }
    </div>
  </div>
}
else
{
  @foreach (IDocument tag in Document.GetChildren().OrderByDescending(x => x.GetChildren().Count()))
  {
    string postCount = tag.GetChildren().Count().ToString();
    <a role="button" href="@Context.GetLink(tag)" class="badge"> @tag.GetTitle() (@postCount)</a>
  }
}
